<!DOCTYPE html>
<html>
<head>
	<meta charset="ISO-8859-1">
	<title>LegendsBook</title>

	<!-- Bootstrap CSS -->
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}"/>
</head>
<body>
	
	
	<!-- Header -->
	<header th:replace="fragments/header :: header('Pizzeria da Aldo')">
			
	</header>
	
	
		<!-- Container -->
	<div class="container text-center">
		
		
		<form class="mt-5" id="image-form" method="POST" th:object="${image}"> 
			
			<div>
				<label for="user-id" class="form-label">Titolo</label>
				<input type="text" class="form-control" id="user-id" th:field="${image.user}">
			</div>

			<div class="row">
				<div class="col-4">
					<label for="title-name" class="form-label">Titolo</label>
					<input type="text" class="form-control" id="title-name" th:field="*{title}">
					<div th:replace="fragments/errors :: errorDiv('title')" />
				  </div>
				
				
				<div class="col-8">
					<label for="image-url" class="form-label">Url immagine</label>
					<input type="text" class="form-control" id="image-url" th:field="*{url}">
				 </div>
				
			</div>
				
			<div class="row mt-5">	
				<div class="col-8">
					<label for="image-description" class="form-label">Descrizione</label>
					<input type="text" class="form-control" id="image-description" th:field="*{description}">
				 </div>
				
			</div>
			
			
			<!-- Checkbox -->		
			<div class="form-check mt-5 me-3" th:each="category : ${categories}" style="display: inline-block;">
			  <input class="form-check-input" type="checkbox" th:value="${category.id}" 
			  		th:id="${'category-' + category.id}" th:field="${image.categories}"
			  	>
			  <label class="form-check-label" th:for="${'category-' + category.id}">[[${category.name}]]</label>
			</div>
			
			
			
			
			<div class="row">
				<div class="col-12 mt-4">
				 	<button type="submit" class="btn btn-success" value="STORE">Invia</button>					
				</div>
			</div>
		</form>
		
	</div>


</body>
</html>